<!-- Loop over each object in the projects array -->
{{#each stadiums as |stadium| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="{{stadium.url}}">{{stadium.name}}</a>
    </h2>
    <p>Located in: {{stadium.city}}, {{stadium.state}}</p>
  </div>
</div>
{{/each}}