<div class="row">
  <div class="col-auto">
    <h2>Profile for {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>{{#if favorite_team}}Favorite Team: <span id='fav-team'>{{team.location}} {{team.name}}</span> {{/if}}</h3>

    <form class="form update-profile-form">
      <div class="form-group">
        <label for="favorite-team">Select new favorite team:</label>
        <select name="favorite-team" class="form-input" id="favorite-team" data-userID="{{id}}">
          <option value="0" selected="selected">select team</option>
        </select>
      </div>
      <div class="form-group" id="stadium-checkboxes">
          <label for="stadiums-visited"><h3>Select which stadiums you have visited:</h3></label><br>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>

</div>

<script src="./js/profile.js"></script>